* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.ozitoman {
    position: absolute;
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    background-image: url('/vector_logos/ozi_logo.svg');
    background-size: cover;
    background-color: black;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 3em #daa520;
}

.linkedin, .github, .deviantart, .spotify, .email {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.linkedin {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 10s linear infinite;
}

.github {
    top: -2.5em;
    left: -2.5em;
    width: 45em;
    height: 45em;
    animation: orbit 12s linear infinite;
}

.deviantart {
    top: -10em;
    left: -10em;
    width: 60em;
    height: 60em;
    animation: orbit 14s linear infinite;
}

.spotify {
    top: -17.5em;
    left: -17.5em;
    width: 75em;
    height: 75em;
    animation: orbit 16s linear infinite;
}

.email {
    top: -25em;
    left: -25em;
    width: 90em;
    height: 90em;
    animation: orbit 18s linear infinite;
}

.moon-1, .moon-2, .moon-3, .moon-4, .moon-5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;
    animation: orbit-moon 2.5s linear infinite;
}

.linkedin::before, .github::before, .deviantart::before, .spotify::before, .email::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.linkedin::before {
    top: 2.1em;
    right: 2.1em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('vector_logos/linkedin.svg');
    box-shadow: 0 0 3em #0072b1;
}

.github::before {
    top: 4.25em;
    right: 4.25em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('/vector_logos/github.svg');
    box-shadow: 0 0 3em white;
}

.deviantart::before {
    top: 6.45em;
    right: 6.45em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('vector_logos/deviantart.svg');
    box-shadow: 0 0 3em #00e59b;
}

.spotify::before {
    top: 8.65em;
    right: 8.65em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('/vector_logos/spotify.svg');
    box-shadow: 0 0 3em #1cc95a;
}

.email::before {
    top: 10.85em;
    right: 10.85em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('vector_logos/email.svg');
    box-shadow: 0 0 3em #c5221f;
}

.moon-1::before, .moon-2::before, .moon-3::before, .moon-4::before, .moon-5::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    animation: orbit-moon 2.5s linear infinite;
}

.moon-1::before {
    background: #0072b1;
}

.moon-2::before {
    background: white;
}

.moon-3::before {
    background: #00e59b;
}

.moon-4::before {
    background: #1cc95a;
}

.moon-5::before {
    background: #c5221f;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit-moon {
    to {
        transform: rotate(360deg);
    }
}
