* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url('background/space.png');*/
    background-color: black;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.ozitoman {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-image: url('/vector_logos/ozi_logo.svg');
    background-size: cover;
    background-color: black;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 3em #daa520;
}

.linkedin {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 10s linear infinite;
}

.moon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;

    animation: orbit 2.5s linear infinite;
}

.linkedin::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-image: url('vector_logos/linkedin.svg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em #0072b1;
    background-color: black;
}

.moon-1::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: #0072b1;
    background-position: center;
}

.github {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 0em;
    left: 0em;
    width: 40em;
    height: 40em;
    animation: orbit 12s linear infinite;
}

.moon-2 {
    position: absolute;
    
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;
    animation: orbit 3s linear infinite;
}

.github::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    right: 2.8em;
    width: 5em;
    height: 5em;
    background-image: url('/vector_logos/github.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em white;
    background-position: center;
}

.moon-2::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: white;
    background-position: center;
}

.deviantart {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 14s linear infinite;
}

.moon-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;
    animation: orbit 3.5s linear infinite;
}

.deviantart::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-image: url('vector_logos/deviantart.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em #00e59b;
    background-position: center;
}

.moon-3::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: #00e59b;
    background-position: center;
}

.spotify {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 16s linear infinite;
}

.moon-4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;
    animation: orbit 4s linear infinite;
}

.spotify::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-image: url('/vector_logos/spotify.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em #1cc95a;
    background-position: center;
}

.moon-4::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: #1cc95a;
    background-position: center;
}

.email {
    position: absolute;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 18s linear infinite;
}

.moon-5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6em;
    height: 8.6em;
    animation: orbit 4.5s linear infinite;
}

.email::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-image: url('vector_logos/email.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3em #c5221f;
    background-position: center;
}

.moon-5::before {
    content: ".";
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: #c5221f;
    background-position: center;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}
